// Mixins
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

// Variables
$dark: rgb(24, 24, 24);

// App Styling
:root {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

body {
  color: #f2f2f2;
  background-color: $dark;
  min-height: 100vh;
  margin: 0px;
}

#top-nav {
  @include flexColumn;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5rem 0.5rem 0;
  overflow: hidden;
}

.logo-container {
  display: none;
}

// Menu
.menu-list {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  list-style-type: none;

  li {
    border-bottom: 1px solid white;
    padding: 0.2rem 0;
    text-align: center;

    a {
      text-decoration: none;
      color: white;
      transition: all 0.5s;
      padding: 1.5rem 0;
    }
  }
}

// Toggle Hamburger Menu for Menu List
.open {
  transition: all 0.5s;
  height: 5rem;
}

// Desktop View
@media screen and (min-width: 800px) {
  #top-nav {
    position: fixed;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 1px solid white;
    padding: 0 0 0;
    height: 2.5rem;
    width: 100%;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding: 0 0.5rem;
    height: 100%;
    font-weight: 700;
  }

  .menu-list {
    display: flex;
    transition: none;
    height: 100%;
    padding: none;
    opacity: 1;

    li {
      display: flex;
      align-items: stretch;
      border-bottom: none;
      border-right: 1px solid white;
      padding: none;
      
      a {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        transition: all 0.5s linear;
      }
    }
  }

  #icon-container {
    display: none;
  }
}