// Variables
$dark: rgb(24, 24, 24);

// App Styling
:root {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

body {
  color: #f2f2f2;
  background-color: $dark;
  min-height: 100vh;
}

#top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0;
  overflow: hidden;
}

.logo-container {
  display: none;
}

// Menu
.menu-list {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  list-style-type: none;
  li {
    border-bottom: 2px solid white;
    padding: 0.2rem 0;
    text-align: center;
    a {
      text-decoration: none;
      color: white;
      transition: all 0.5s;
      padding: 1.5rem 0;
    }
  }
}

// Toggle Hamburger Menu for Menu List
.open {
  transition: all 0.5s;
  height: 5rem;
}

// Desktop View
@media screen and (min-width: 800px) {
  #top-nav {
    position: fixed;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 2px solid white;
    padding: 0 0 0;
    height: 4rem;
    width: 100%;
  }

  .logo-container {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 0 0.5rem
  }

  .menu-list {
    display: flex;
    height: 100%;
    transition: none;
    padding: 0 0 0;
    li {
      border-right: 2px solid white;

    }
  }

  #icon-container {
    display: none;
  }
}