// Mixins
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

// Variables
$dark: rgb(24, 24, 24);

// App Styling
:root {
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
}

body {
  @include flexColumn;
  color: #f2f2f2;
  background-color: $dark;
  min-height: 100vh;
  position: relative;
  margin: 0px;
}

#top-nav {
  @include flexColumn;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.5rem 0.5rem 0;
  overflow: hidden;
}

.logo-container,
#side-nav {
  display: none;
}

// Menu
.menu-list {
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s;
  list-style-type: none;

  li {
    border-bottom: 1px solid white;
    padding: 0.2rem 0;
    text-align: center;

    a {
      width: 100%;
      text-decoration: none;
      color: white;
      padding: 0.2rem 0;
      transition: all 0.5s;
    }
  }

  #cv-li {
    display: flex;
    justify-content: center;

    .cv-link {
      &::after {
        content: "Resume / CV";
        font-size: 0.75rem;
      }
    }
  }

  #contact-li {
    display: flex;
    justify-content: center;

    .contact-link {
      &::after {
        content: "raymond.doan94@gmail.com";
        font-size: 0.75rem;
      }

    }
  }
}

.content-wrapper {
  padding: 0.5rem;
}

// Content Header
#heading-container {
  max-width: 40rem;
  overflow: hidden;
  h1 {
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
    overflow: hidden;
  };
  h2 {
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0 0 0.25rem;
    overflow: hidden;
  };
}

.heading-line {
  margin: 1rem 0;
  display: block;
  max-width: 60%;
  height: 3px;
  background-color: white;
}

// About Me Button
#read-more {
  width: 8rem;
  background-color: $dark;
  color: white;
  border: 2px solid white;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 0.75rem;

  display: block;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;

  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: white;
    color: $dark;
  }
}

// About Me
.about {
  max-width: 40rem;
  height: 0;
  transition: all 0.7s ease;
  overflow: hidden;
  h3 {
    margin: 0.5rem 0;
    font-size: 1rem;
  };
  p {
    margin: 0.5rem 0;
    font-size: 0.75rem;
  }
}

// Toggle the About Section
.open-about {
  transition: all 1s ease;
  height: 20rem;
  display: block;
}

// Projects
#projects {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;

  .projects-container {
    margin-bottom: 2rem;
    border-bottom: 2px solid white;

    .projects__img-container {
      position: relative;
      overflow: hidden;
      margin-bottom: 0;
      border: 3px solid white;
      border-bottom: none;

      &:hover {
        .shown-image {
          transition: all 0.5s;
          top: 0
        }
      }

    }
    .shown-image {
      position: absolute;
      top: 100%;
      transition: all 0.5s;
    }
    
    img {
      width: 100%;
    }
  }
}

// Toggle Hamburger Menu for Menu List
.open {
  transition: all 0.5s;
  height: 5rem;
}

// Icon Size
.fab {
  font-size: 2rem;
}

// Desktop View
@media screen and (min-width: 800px) {
  // Keyframes for Changes in Navbar
  @keyframes showEmail {
    0% {}
    30% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      content: "raymond.doan94@gmail.com";
    }
  }

  @keyframes hideEmail {
    0% {
      opacity: 1;
      content: "raymond.doan94@gmail.com";
    }
    30% {
      opacity: 0;
    }
    100% {}
  }

  @keyframes growLink {
    0% {
      width: 7.5rem;
    }
    100% {
      width: 16rem;
    }
  }

  @keyframes shrinkLink {
    0% {
      width: 16rem;
    }
    100% {
      width: 7.5rem;
    }
  }

  #top-nav {
    height: 2.5rem;
    width: 100%;
    background-color: $dark;
    position: fixed;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: 1px solid white;
    padding: 0 0 0;
  }

  .logo-container {
    height: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding: 0 0.5rem;
  }

  .menu-list {
    height: 100%;
    display: flex;
    transition: none;
    padding: none;
    opacity: 1;

    li {
      display: flex;
      align-items: stretch;
      overflow: hidden;
      border-bottom: none;
      border-right: 1px solid white;
      padding: none;

      a {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        transition: all 0.5s linear;
      }
    }

    #contact-li {
      animation: shrinkLink 1s forwards;
      .contact-link {
        &::after {
          content: "Contact Me";
          animation: hideEmail 1s forwards;
        }
      }
      &:hover {
        animation: growLink 1s forwards;
        .contact-link {
          &::after {
            animation: showEmail 1s forwards;
          }
        }
      }
    }
  }

  #icon-container {
    display: none;
  }

  #side-nav {
    height: 100vh;
    width: 4.3rem;
    left: 0;
    position: fixed;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-right: 1px solid white;

    div {
      flex-direction: column;

      li {
        width: 4.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid white;
        padding: 0.5rem 0 ;
        list-style-type: none;

        
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  .content-wrapper {
    max-width: 90vw;
    padding: 4rem 1rem 1rem 6rem;
  }

  #heading-container {
    max-width: 40rem;
    h1 {
      font-size: 3rem;
    };
    h2 {
      font-size: 3rem;
    };
  }
  
  
  // About Me Button
  #read-more {
    width: 8rem;
    background-color: $dark;
    color: white;
    border: 2px solid white;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 0.75rem;
  
    display: block;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.5rem;
  
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      background-color: white;
      color: $dark;
    }
  }
  
  // About Me
  .about {
    max-width: 40rem;
    transition: all 0.7s ease;
    overflow: hidden;
    h3 {
      margin: 0.75rem 0;
      font-size: 1.2rem;
    };
    p {
      line-height: 1.2;
      max-width: 90%;
      margin: 0.75rem 0;
      font-size: 0.8rem;
    };
  }
  
  // Toggle the About Section
  .open-about {
    height: 20rem;
  }
}
